In [1]:
import pandas as pd
import requests
from io import StringIO

r = requests.get('https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/NAMA_10_GDP?format=SDMX-CSV')

In [2]:
df = pd.read_csv(StringIO(r.text))
print(df)

                      DATAFLOW        LAST UPDATE freq        unit na_item  \
0       ESTAT:NAMA_10_GDP(1.0)  17/03/23 23:00:00    A  CLV05_MEUR     B1G
1       ESTAT:NAMA_10_GDP(1.0)  17/03/23 23:00:00    A  CLV05_MEUR     B1G
2       ESTAT:NAMA_10_GDP(1.0)  17/03/23 23:00:00    A  CLV05_MEUR     B1G
3       ESTAT:NAMA_10_GDP(1.0)  17/03/23 23:00:00    A  CLV05_MEUR     B1G
4       ESTAT:NAMA_10_GDP(1.0)  17/03/23 23:00:00    A  CLV05_MEUR     B1G
...                        ...                ...  ...         ...     ...
842372  ESTAT:NAMA_10_GDP(1.0)  17/03/23 23:00:00    A    PYP_MNAC     YA1
842373  ESTAT:NAMA_10_GDP(1.0)  17/03/23 23:00:00    A    PYP_MNAC     YA1
842374  ESTAT:NAMA_10_GDP(1.0)  17/03/23 23:00:00    A    PYP_MNAC     YA1
842375  ESTAT:NAMA_10_GDP(1.0)  17/03/23 23:00:00    A    PYP_MNAC     YA1
842376  ESTAT:NAMA_10_GDP(1.0)  17/03/23 23:00:00    A    PYP_MNAC     YA1

       geo  TIME_PERIOD  OBS_VALUE OBS_FLAG
0       AT         1995   177617.0      NaN
1       AT         1996   180999.4      NaN
2       AT         1997   184799.1      NaN
3       AT         1998   192025.4      NaN
4       AT         1999   198247.2      NaN
...     ..          ...        ...      ...
842372  XK         2017        0.0      NaN
842373  XK         2018        0.0      NaN
842374  XK         2019        0.0      NaN
842375  XK         2020        0.0      NaN
842376  XK         2021        0.0      NaN

[842377 rows x 9 columns]

In [5]:
df.unit.unique()
df["freq"].unique()

array(['A'], dtype=object)